marshmallow~=3.14.1
python-dotenv~=0.19.2
passlib~=1.7.4
pre-commit>=2.13.0
black==21.4b2
flake8==3.7.9
setuptools~=58.2.0
numpy~=1.21.4
requests~=2.26.0
opencv-python~=4.5.4.60
pytest~=6.2.5
pytest-cov~=3.0.0
pytesseract~=0.3.8
torch~=1.10.1
torchvision~=0.11.2
Jinja2~=3.0.3
starlette==0.20.3
uvicorn==0.17.6
python-multipart==0.0.5
# git+https://github.com/facebookresearch/detectron2.git@v0.6